/*Sol Cardoso y Jimena Ferreiro*/

*{font-family: arial;
}

.header {border-radius: 20px;
}

nav {background-color: blue;
	width: 96%;
	border-radius: 30px;
	letter-spacing: 15px;
	padding: 8px;
	padding-left: 4%;
}

section{background-color: beige;
		border-radius:30px;
		width: 96%;
		padding-left: 4%;
}

table{
  border-collapse: separate;
}
th,td{
  border: 1px solid white;
  padding: 4px;
  text-align: center;
}

span {color: #E6104D;}

.redondeonav {
    height:30px;
	width:30px;
    border-radius:150px;
}

.redondo {
	border-radius:20px;
    border-color: white;
}

.estilo{
	border-radius: 20px;
	border: 2px solid gray;
}

footer{background-color: #E6E610;
		text-align: center;
		border-radius: 20px;
		width: 100%;
}